<footer class="bg-dark text-white text-center py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Sobre Nós</h5>
        <p>Saiba mais sobre nossa empresa e nossa missão. Estamos aqui para
          oferecer os melhores produtos e serviços para você!</p>
      </div>
      <div class="col-md-4">
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contato</h5>
        <p>Telefone:
          <a href="tel:+5583988165265" class="text-white">(83) 9 8816-5265</a></p>
      </div>
    </div>
    <div class="mt-3">
      <p>&copy;
        {{currentYear}}
        Desenvolvido por Desireê Costa.</p>
    </div>
  </div>
</footer>